{{ partial "header.html" . }}
	<main>
		BLOG SINGLE TEMPLATE
		<article>
			<h1>{{ .Title }}</h1>
			<time>{{ .Date.Format "02.01.2006 15:04" }}</time>
			<div>
				<p>
					Reading time:
					{{ if le (div .WordCount 275) 1 }}
					  mere seconds.
					{{ else }}
					  {{ div .WordCount 275 }} minute{{ if ge (div .WordCount 275.0) 2 }}s{{ end }}.
					{{ end }}
				</p>
			</div>
			{{ .Content }}
			<div>
				<ul id="tags">
					{{ range .Params.tags }}
					<li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> </li>
					{{ end }}
				</ul>
			</div>
		</article>
	</main>
{{ partial "sidebar.html" . }}
{{ partial "footer.html" . }}
