<!DOCTYPE html>
<html lang="en">
  <head>
    {% block header %}
      <title>{{title}}
        |
        {{ site.title }}</title>
    {% endblock %}

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Back off man, I'm a web developer.">
    {% block twittercard %}
      <meta name="twitter:card" content="summary">
      <meta name="twitter:site" content="@sonniesedge">
      <meta name="twitter:title" content="Back off man, I'm a web developer | sonniesedge">
      <meta name="twitter:url" content="http://sonniesedge.co.uk/">
      <meta name="twitter:description" content="Sonniesedge: Human, web developer, redhead.">
      <meta name="twitter:image:src" content="http://sonniesedge.co.uk/images/pages/photo.jpg">
    {% endblock %}
    <link rel="stylesheet" href="/css/main.css" type="text/css"/>
    <link rel="alternate" type="text/xml" title="RSS feed for posts" href="{{ site.url }}/rss.xml">
    <link rel="alternate" type="text/xml" title="RSS feed for bookmarks" href="{{ site.url }}/bookmarks.xml">
    <link rel="pingback" href="https://webmention.io/sonniesedge.co.uk/xmlrpc"/>
    <link rel="webmention" href="https://webmention.io/sonniesedge.co.uk/webmention"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=wAXnA3JAMG">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=wAXnA3JAMG">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=wAXnA3JAMG">
    <link rel="manifest" href="/site.webmanifest?v=wAXnA3JAMG">
    <link rel="mask-icon" href="/safari-pinned-tab.svg?v=wAXnA3JAMG" color="#bb4444">
    <link rel="shortcut icon" href="/favicon.ico?v=wAXnA3JAMG">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
  </head>
  <body>
    <div class="comp-mainlayout">
      <header class="comp-mainlayout__sidebar">
        <nav class="comp-nav">
          <ul class="comp-nav__list">
            {% for item in mainnav %}
              {% if item.path == '//' %}
                {% set newpath = '/' %}
              {% else %}
                {% set newpath = item.path %}
              {% endif %}
              <li class="comp-nav__item {% if item.path == path %}comp-nav__item--current{% endif %}">
                <a class="comp-nav__link" href="{{ newpath }}">{{ item.title }}</a>
              </li>
            {% endfor %}
          </ul>

        </nav>
      </header>
      <main class="comp-mainlayout__content">
        {% block content %}
          <h1>{% if realtitle %}{{ realtitle }}{% else %}{{ title }}{% endif %}</h1>
          {{ contents | safe }}
        {% endblock %}

        {% block list %}{% endblock %}
      </main>

      {% if webmentionCount %}
        <section class="comp-mainlayout__mentions">

          <h1>Feedback</h1>
          <p>This page has found
            <strong>{{ webmentionCount }}</strong>
            mentions of itself on the glorious World Wide Web!</p>

          <p>There's probably a lot more, but this site relies on
            <a href="https://brid.gy/">brid.gy</a>
            to discover
            <a href="https://indieweb.org/webmention">webmentions</a>
            from social media. Retreiving these social media replies/likes/reposts is still unreliable (due to the social media giants' APIs) and many mentions of a page get missed!</p>

          {% if webmentionLinks | length > 0 %}
            <h2>Links</h2>
            <ul class="comp-wm-links">
              {% for item in webmentionLinks %}
                <li id="{{ item.id }}" class="comp-wm-links__item">
                  <img src="{{ item.author_photo }}" class="comp-wm-links__image">
                  <a href="{{ item.author_url }}" class="comp-wm-links__title">{{ item.author_name }}</a>
                  <div class="comp-wm-links__body">
                    {{ item.content | safe}}
                  </div>
                  <div class="comp-wm-links__footer">
                    <a href="#{{ item.id }}">#</a>
                    <a href="{{ item.link_source }}">{{ item.date }}</a>
                  </div>
                </li>
              {% endfor %}
            </ul>
          {% endif %}

          {% if webmentionLikes | length > 0 %}
            <h2>Likes</h2>
            <ul class="c-likes">
              {% for item in webmentionLikes %}
                <li class="" id="{{ item.id }}">
                  <a href="#{{ item.id }}">#</a>
                  <a href="{{ item.author_url }}" class="">{{ item.author_name }}</a>
                </li>
              {% endfor %}
            </ul>
          {% endif %}

          {% if webmentionReposts | length > 0 %}
            <h2>Reposts</h2>
            <ul class="c-reposts">
              {% for item in webmentionReposts %}
                <li id="{{ item.id }}">
                  <a href="#{{ item.id }}">#</a>
                  <a href="{{ item.author_url }}">{{ item.author_name }}</a>
                  on
                  <a href="{{ item.repost_source }}">{{ item.date }}</a>.</li>
              {% endfor %}
            </ul>
          {% endif %}
        </section>
      {% endif %}

      <footer class="comp-footer comp-mainlayout__footer">
        <div class="comp-footer__cols">
          <section>
            <header>
              <h2>Feeds</h2>
            </header>
            <ul>
              <li>
                <a href="/rss.xml">Posts (RSS XML)</a>
              </li>
              <li>
                <a href="/bookmarks.xml">Bookmarks (RSS XML)</a>
              </li>
              <li>
                <a href="/notes.xml">Notes (RSS XML)</a>
              </li>
            </ul>
          </section>

          <section>
            <header>
              <h2>Get in touch</h2>
            </header>
            <ul>
              <li>Email:
                <a href="mailto:charlie@sonniesedge.co.uk" rel="me">charlie@sonniesedge.co.uk</a>
              </li>
              <li>Twitter:
                <a href="https://twitter.com/sonniesedge" rel="me">@sonniesedge</a>
              </li>
              <li>Github:
                <a href="https://github.com/sonniesedge" rel="me">@sonniesedge</a>
              </li>
            </ul>
          </section>

          <section>
            <header>
              <h2>Resources</h2>
            </header>
            <ul>
              <li>Site source:
                <a href="https://github.com/sonniesedge/sonniesedge-website">View on Github</a>.</li>
            </ul>
          </section>
        </div>
        <p>Hey hey. You're looking at the website of
          <a href="/" rel="author" class="p-author h-card">Charlie Owen</a>.
          <a href="/contact/">Say hi</a>
          if you get the chance!</p>
      </footer>
    </div>

    {# <script type="application/javascript" src="/js/app.js"></script> #}
  </body>
</html>
