{% extends "default.njk" %}
{% block list %}
  {% for bookmark in bookmarks %}
    <section class="comp-bookmark">
      <h2 class="comp-bookmark__title"><a href="{{ bookmark.path }}">{{ bookmark.title }}</a></h2>
      <p class="comp-bookmark__date"><time class="dt-published">{{ bookmark.date }}</time></p>

      {{ bookmark.contents_original | safe }}

      <ul class="comp-bookmark__links">
        <li><a class="comp-bookmark__link" href="{{bookmark.link | safe}}" rel="noopener">Original link</a></li>
        <li><a class="comp-bookmark__permalink" href="{{ bookmark.path }}">Permalink</a></li>
      </ul>
    </section>
  {% endfor %}
{% endblock %}