{% extends "default.njk" %}
{% block list %}
  <ul class="">
  
  {% for bookmark in bookmarks %}
    <li class="comp-bookmark">
    <a href="{{ bookmark.path }}" class=""><h2 class="comp-contentlist__title">{{ bookmark.title }}</h2></a>
    <p class="comp-contentlist__date">{{ bookmark.date }}</p>

    {{ bookmark.contents }}

    
      
    

    <p><a href="{{bookmark.link | safe}}" rel="noopener">{{bookmark.link | safe}}</a></p>

    </li>
  {% endfor %}
  </ul>
{% endblock %}