{% extends "default.njk" %}

{% block twittercard %}
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@sonniesedge">
  <meta name="twitter:title" content="{{ title }} - via sonniesedge.co.uk">
  <meta name="twitter:url" content="http://sonniesedge.co.uk{{ path }}">
  <meta name="twitter:description" content="{{ strapline }}">
  <meta name="twitter:image:src" content="http://sonniesedge.co.uk/images/pages/photo.jpg">
{% endblock %}
  
{% block content %}
    <h1 class="p-name"><a href="{{path}}" class="u-url">{% if realtitle %}{{ realtitle }}{% else %}{{ title }}{% endif %}</a></h1>
    <p class="comp-postheader__date"><time class="dt-published">{{ dateFormatted }}</time></p>
    
    <div class="e-content">
      {{ contents | safe }}
    </div>

    <p><a href="{{link | safe}}" rel="noopener">{{link | safe}}</a></p>
{% endblock %}
