{% extends "default.njk" %}
 
{% block content %}
  <article class="h-card">
      <header>
        <h1 class="p-name">{% if realtitle %}{{ realtitle }}{% else %}{{ title }}{% endif %}</h1>
      </header>

      <div class="e-content">
        {{ contents | safe }}
      </div>
  </article>
{% endblock %}
